
body {
    margin: 0 auto;
    background-color: #f2f2ed;
    color: white;
    display: block;
    box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
    font-size: 100%;
    overflow-x: hidden; /* Disable horizontal scrolling */
    width: 100%;
}

hr {
    color: #261e2e;
    width: 100%;
}

h1 {
    color: #261e2e;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: Gilda;
    font-size: 40px;
    padding: 15px 0px 15px
}



.date {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #261e2e;
    font-family: Gilda;
    font-size: 22px;
    max-width: 1200px;
    padding-bottom: 30px;
}

.idea {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #261e2e;
    font-family: Gilda;
    font-size: 24px;
    max-width: 1200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.gameDescript {
    display: flex;
    justify-content: center;
    color: #261e2e;
    font-family: Gro;
    font-size: 17px;
    max-width: 1200px;
    text-align: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    width: 100%;
    display: flex;
    color: #261e2e;
    font-family: Gilda;
    font-size: 24px;
    max-width: 1200px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #261e2e;
    font-family: Gilda;
    font-size: 21px;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
    color: #261e2e;
    font-family: Gro;
    font-size: 18px;
    max-width: 1200px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    padding: 4px;
    background: #261e2e;
    text-align: center;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0;
    margin: 20px 0px;
    border-radius: 5px;
}

a {
    color: #261e2e;
    font-size: 20px;
    text-decoration: none;
    font-family: Gilda;
}


nav {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}

    nav section {
        list-style-type: none;
    }

        nav section a {
            padding: 30px;
        }

    nav a:hover {
        color: #e80000;
        transition: 0.3s;
    }

.logo {
    font-size: 80px;
    color: #261e2e;
    font-family: Pixel;
}

.youtube_vid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 10px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.youtube_vidIllustration {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 10px;
    justify-content: center;
    padding-top: 20px;
}


@font-face {
    font-family: "Gilda";
    src: url('fonts/Gilda.ttf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: "Pixel";
    src: url('fonts/Pixel.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gro";
    src: url('fonts/Zen2.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


.row {
    display: flex;
}

    .row img {
        width: 100%;
        max-width: 600px;
        max-height: 300px;
        object-fit: cover;
        /*        opacity: 0.7;*/
        border-radius: 8px;
    }

        .row img:hover {
            /*            opacity: 1;
            transition: opacity .5s ease-in-out;*/
            border-radius: 50px;
            transition: border-radius .2s ease-in-out;
        }

.column {
    flex: 10%;
    margin: 30px 30px;
}

.selectedWork {
    flex: 10%;
    margin: 50px 20px;
}


.ProjectCol {
    flex: 10%;
    width: 100%;
}

.ProjectRow {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

    .ProjectRow img {
        align-content: center;
        cursor: default;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 8px;
    }

        .ProjectRow img:hover {
        }


.collectBtn {
    border: 2px solid black;
    font-family: bold;
    background: url(/images/projects/green1.png) no-repeat;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    justify-content: center;
    border-radius: 5px;
    color: white;
}


.btn {
    border: 2px solid #261e2e;
    font-family: Gilda;
    background-color: #f2f2ed;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    justify-content: center;
    border-radius: 5px;
}
.danger {
    border-color: #261e2e;
    border-width: 2.5px;
    margin-right: 20px;
    color: #261e2e;
}

    .danger:hover {
        background: #6e0007;
        border-color: #6e0007;
        color: #f2f2ed;
        transition: .2s ease-in-out;
    }


.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.extraSpace {
    padding-bottom: 60px;
}

.aboutText {
    color: #5c293c;
    font-size: 9px;
    margin-left: auto;
    margin-right: auto;
    font-family: bodoni;
    width: 100%;
    max-width: 900px;
    padding: 10px 20px;
}

.aboutImage {
    width: 100%;
    display: block;
    margin-left: auto;
    border-radius: 8px;
    padding-top: 40px;
    margin-right: auto;
}

.Homecontainer {
    display: flex;
    align-items: center;
    justify-content: center
}

Homeimg {
    max-width: 100%;
}

.Homeimage {
    flex-basis: 40%;
    padding: 20px 20px;
}

.Hometext {
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: bodoni;
}

* {
    box-sizing: border-box;
    border-radius: 8px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 25px;
    color: #fffdcc;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 1px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: #5f2c32;
    }

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 10px;
    background-color: #5f2c32;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.Descript {
    padding-top: 30px;
    padding-bottom: 50px;
}

.smallPad {
    padding-top: 15px;
}


.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.lightbox-image {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 10px;
    padding: 20px 20px 20px;
}

.close-button {
    color: #5f2c32;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    background-color: #F1DFD3;
    height: 40px;
    width: 40px;
}

.card {
    border: 3px solid #5f2c32;
}

    .card img {
        padding: 0px;
    }

.wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pagewrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
footer {
    background-color: #6e0007; /* Red background for the footer */
    padding: 20px;
    text-align: center;
    width: 100%; /* Ensures full width */
    position: relative; /* Make sure it stays within the document flow */
    z-index: 1; /* Make sure it stays in the foreground */
}

.footer-content {
    margin-bottom: 20px; /* Adds spacing between content and icons */
}

.footer-icons {
    display: flex;
    justify-content: right; /* Centers the icons horizontally */
    gap: 20px; /* Space between icons */
    padding-right: 5px;
    align-items: center;
    margin-top: 5px; /* Space between the footer content and icons */
}

.social-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Hover effect */
}

    .social-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .social-icon:hover {
        transform: scale(1.2); /* Slightly grow the icon on hover */
        filter: brightness(1.2); /* Lighten the icon color on hover */
    }

